---

---

<div
  class="card relative rounded-2xl bg-white flex flex-col hover:scale-105 ease-in transition duration-300"
>
  <div class="overflow-hidden rounded-t-2xl flex justify-center items-center relative">
    <button class="absolute bg-white text-purple-900 rounded-lg px-2 py-1 opacity-0 hover:opacity-100 transition duration-300">
        Ver detalles
    </button>
    <img
      src="images/carousel1.png"
      alt="Emprendimiento 1"
      class="w-full h-auto object-cover rounded-t-2xl hover:bg-gray-500/55"
    />
  </div>
  <div class="px-4 py-3">
    <h3 class="text-xs text-gray-500">Categoria aqui</h3>
    <p class="text-gray-700 text-base font-bold">Nombre del emprendimiento</p>
    <p class="text-gray-500 text-sm mb-4">Nombre del emprendedor</p>
    <a
      href="#"
      class="text-sm flex items-center justify-center text-center bg-blue-700 text-white py-1 px-4 rounded-lg hover:bg-blue-600 transition duration-300 w-32"
      >Conoce más!</a
    >
  </div>
</div>
