---
let chevron = true;
---

<div class="w-full py-6">
    <button 
        class="flex items-center w-[96%] p-5 mx-auto roundend-full shadow justify-between"
    >
        <span class="text-purple-800 font-bold text-xl">Conoce más sobre nosotros</span>
        <i class:list={[
            {
                'fa-solid fa-chevron-down': chevron,
                'fa-solid fa-chevron-up': !chevron,
            },
            'text-purple-800'
        ]}></i>
    </button>
</div>
