---

---

<section class="relative bg-black w-full h-10/12 min-h-96 flex items-center justify-center overflow-hidden">
  <div class="carousel w-full overflow-hidden text-white">
    <div class="carousel-buttons">
        <span class="carousel-button absolute border-1 rounded-[1.5rem] bg-white text-black px-1 cursor-pointer m-2 z-1 hover:scale-110"><i class="fa-solid fa-arrow-left"></i></span>
        <span class="carousel-button absolute right-0 border-1 rounded-[1.5rem] bg-white text-black px-1 cursor-pointer m-2 z-1 hover:scale-110"><i class="fa-solid fa-arrow-right"></i></span>
      </div>
  </div>
  <div class="slides absolute w-full h-full flex items-center justify-center">
    <div class="slide">
      <div class="content relative">
        <img src="images/PruebaImagen.png" alt="" class="w-full h-full object-cover">
      </div>
    </div>
  </div>
</section>