---

---

<div class="w-full py-10 bg-gray-100 p-4 flex flex-col items-center">
  <span class="text-3xl font-bold mb-4">NUESTRA VARIEDAD DE EMPRENDIMIENTOS</span>
  <hr class="w-1/2 border-t-2 border-gray-300 mb-4" />
  <span class="">Explora diferentes categorías de emprendimientos y descubre proyectos innovadores en cada una de ellas.</span>
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 mt-4">
    <div class="flex relative items-center justify-center w-20 h-20 bg-white rounded-full shadow hover:shadow-lg transition-shadow duration-300">
      <i class="fa-solid fa-suitcase text-4xl"></i>
      <span class="absolute -bottom-[25px]">Negocios</span>
    </div>
    <div class="flex relative items-center justify-center w-20 h-20 bg-white rounded-full shadow hover:shadow-lg transition-shadow duration-300">
      <i class="fa-solid fa-kitchen-set text-4xl"></i>
      <span class="absolute -bottom-[25px]">Gastronomia</span>
    </div>
    <div class="flex relative items-center justify-center w-20 h-20 bg-white rounded-full shadow hover:shadow-lg transition-shadow duration-300">
      <i class="fa-solid fa-palette text-4xl"></i>
      <span class="absolute -bottom-[25px]">Arte</span>
    </div>
    <!-- Add more categories as needed -->
  </div>
</div>