---

---

<footer class="bg-gray-800 text-white pt-6">
  <section class="grid md:grid-cols-4 grid-cols-1 w-11/12 mx-auto gap-4 py-6">
    <div class="flex flex-col items-center justify-center">
      <div class="flex flex-row items-center justify-center mb-4">
        <img src="Logo_VVCP.png" alt="" class="w-8 h-10" />
        <h1 class="text-2xl font-bold text-white ml-2">Vitrina Virtual</h1>
      </div>
      <p>Plataforma dedicada a impulsar y dar visibilidad a emprendedores locales.</p>
      <div class="social-links">
        <a href="https://www.facebook.com/VitrinaVirtualCentroProgresa" target="_blank" class="text-white mx-2">
          <i class="fa-brands fa-facebook"></i>
        </a>
        <a href="https://www.instagram.com/vitrinavirtualcentroprogresa/" target="_blank" class="text-white mx-2">
          <i class="fa-brands fa-instagram"></i>
        </a>
        <a href="https://twitter.com/VitrinaVirtual" target="_blank" class="text-white mx-2">
          <i class="fa-brands fa-twitter"></i>
        </a>
        <a href="https://www.linkedin.com/company/vitrina-virtual-centro-progresa/" target="_blank" class="text-white mx-2">
          <i class="fa-brands fa-linkedin"></i>
        </a>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-2xl font-bold text-white ml-2">Enlaces Rápidos</h1>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="">Emprendedores</a></li>
        <li><a href="">Categorias</a></li>
        <li><a href="">Sobre Nosotros</a></li>
        <li><a href="">Contacto</a></li>
      </ul>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-2xl font-bold text-white ml-2">Categorías</h1>
      <ul>
        <li><a href="/">Negocios</a></li>
        <li><a href="">Gastronomía</a></li>
        <li><a href="">Arte</a></li>
        <li><a href="">Moda</a></li>
        <li><a href="">Tecnología</a></li>
      </ul>
    </div>
    <div class="flex flex-col items-center justify-center">
      <h1 class="text-2xl font-bold text-white ml-2">Boletín Informativo</h1>
      <p>Suscríbete para recibir noticias sobre nuevos emprendedores y eventos.</p>
      <div class="flex flex-row items-center justify-center">
        <input type="email" placeholder="Tu correo electrónico" class="p-2 rounded-md" />
        <button class="bg-blue-700 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition duration-300">Suscribirse</button>
      </div>
    </div>
  </section>
  <hr class="bg-gray-900 mt-6 mx-4" />
  <section class="text-center py-4 flex justify-between mx-auto w-11/12">
    <p>&copy; 2025 Vitrina Virtual. Todos los derechos reservados.</p>
    <div class="flex gap-4">
      <a href="">Terminos y condiciones</a>
      <a href="">Politica de privacidad</a>
    </div>
  </section>
  <p class="text-center text-xs text-gray-400 pb-6 mr-2">Desarrollado por: <a href="https://github.com/JeisonMartinezVS" target="_blank" class="underline hover:text-white">Jeison Martinez</a> & <a href="https://github.com/GrEyBoG" target="_blank" class="underline hover:text-white">Jaider Cardona</a></p>
</footer>