---
const {items} = Astro.props;
---
<header class="bg-white text-black p-4 flex justify-between items-center fixed top-0 left-0 w-full shadow-md z-50">
    <a href="/" class="flex items-center">
        <img
            src={items.logo}
            alt="Logo Vitrina Virtual Centro Progresa"
            class="h-10 w-8 mr-2"
        />
        <span class="text-xl">Vitrina Virtual Centro Progresa</span>
    </a>
    <nav>
        <ul class="flex space-x-4">
            {items.menu.map((menu:any) => (
                <li><a href={menu.link} class="hover:text-gray-400">{menu.name}</a></li>
            ))}
        </ul>
    </nav>
</header>


