---

---

<div
  id="modal"
  class="fixed inset-0 flex items-center justify-center bg-black/50 text-black z-50 hidden"
>
  <div
    class="bg-white rounded-lg p-6 w-full max-w-4xl h-[90%] relative overflow-y-scroll"
  >
    <div class="flex flex-row justify-between items-center">
      <h2 class="text-2xl font-bold mb-4 text-black modal-title"></h2>
      <button
        onclick="closeModal()"
        class="absolute top-2 right-3 text-gray-500 hover:text-black text-2xl"
      >
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <hr class="text-gray-600 py-3" />
    <div class="grid md:grid-cols-2 grid-cols-1 gap-6">
      <div>
        <img
          id="modalImage"
          class="rounded-lg w-full h-auto object-cover col-span-2 mb-4"
        />
        <div class="flex flex-row gap-3">
          <img
            src="images/PruebaImagen.png"
            alt=""
            class="cursor-pointer object-cover border-2 border-purple-900 rounded-lg w-16 h-16"
          />
          <img
            src="images/PruebaImagen.png"
            alt=""
            class="cursor-pointer object-cover border-2 border-purple-900 rounded-lg w-16 h-16"
          />
          <img
            src="images/PruebaImagen.png"
            alt=""
            class="cursor-pointer object-cover border-2 border-purple-900 rounded-lg w-16 h-16"
          />
          <img
            src="images/PruebaImagen.png"
            alt=""
            class="cursor-pointer object-cover border-2 border-purple-900 rounded-lg w-16 h-16"
          />
        </div>
      </div>
      <div class="w-full">
        <div class="flex items-center mb-2">
          <i class="fa-solid fa-tag text-black mr-2"></i>
          <h3 class="text-xs text-gray-500" id="modalCategory"></h3>
        </div>
        <h2 class="text-2xl font-bold mb-4 text-black modal-title"></h2>
        <div class="flex items-center mb-2">
          <i class="fa-solid fa-user text-black mr-2"></i>
          <h3 class="text-xs text-gray-500" id="modalEntrepreneur"></h3>
        </div>
        <p id="modalDescription" class="text-black my-4"></p>
        <!-- <div class="flex items-center mb-4">
          <i class="fa-solid fa-location-dot text-black mr-2"></i>
          <h3 class="text-xs text-gray-500" id="modalEntrepreneur"></h3>
        </div>
        <div class="flex items-center mb-4">
          <i class="fa-solid fa-calendar text-black mr-2"></i>
          <h3 class="text-xs text-gray-500" id="modalEntrepreneur"></h3>
        </div> -->
        <div class="flex items-center mb-4">
          <i class="fa-solid fa-phone text-black mr-2"></i>
          <h3 class="text-xs text-gray-500" id="modalPhone"></h3>
        </div>
        <div class="flex items-center mb-8">
          <i class="fa-solid fa-envelope text-black mr-2"></i>
          <h3 class="text-xs text-gray-500" id="modalEmail"></h3>
        </div>
        <div class="social-links pb-6">
          <p class="text-xl font-bold">Redes Sociales</p>
          <div id="modalSocialLinks" class="flex gap-4 mt-2">
            <!-- <a href="#" class="text-blue-500 hover:text-blue-700">
              <i class="fa-brands fa-facebook-f"></i>
            </a>
            <a href="#" class="text-blue-400 hover:text-blue-600">
              <i class="fa-brands fa-twitter"></i>
            </a>
            <a href="#" class="text-pink-500 hover:text-pink-700">
              <i class="fa-brands fa-instagram"></i>
            </a>
            <a href="#" class="text-red-500 hover:text-red-700">
              <i class="fa-brands fa-youtube"></i>
            </a> -->
          </div>
        </div>
        <a
        id="modalWpp"
        target="_blank"
        rel="noopener"
          class="bg-green-400 py-3 px-16 w-full cursor-pointer text-white rounded-lg"
          ><i class="fa-brands fa-whatsapp pr-2"></i>Contacta Conmigo</a
        >
      </div>
    </div>
  </div>
</div>

<script is:inline>
  async function openModal(
    title,
    description,
    categories,
    logo_path,
    entrepreneur,
    email,
    phone,
    entrepreneur_id
  ) {
    const modalTitles = document.querySelectorAll(".modal-title");
    modalTitles.forEach((element) => {
      element.textContent = title;
    });
    document.getElementById("modalDescription").textContent = description;
    document.getElementById("modalImage").src = logo_path;
    document.getElementById("modalCategory").textContent = categories;
    document.getElementById("modalEntrepreneur").textContent = entrepreneur;
    document.getElementById("modalEmail").textContent = email;
    document.getElementById("modalPhone").textContent = phone;

    const wppBtn = document.getElementById('modalWpp')
    if(wppBtn){
        wppBtn.href = `https://wa.me/${phone}`
    }

    try {
    // Api desarrollo
    // const usersRes = await fetch("/api/users-manager/entrepreneurs/");

    // Api Produccion
    const usersRes = await fetch("https://virtualcase-backend.onrender.com/users-manager/entrepreneurs/");

    const allEntrepreneurs = await usersRes.json();

    const match = allEntrepreneurs.find((e) => e.business_name === title);
    if (!match) {
      console.warn("Emprendedor no encontrado");
      return;
    }

    const entrepreneurId = match.id;

    // Api Desarrollo
    // const res = await fetch(`/api/items-manager/social_links/?entrepreneur_id=${entrepreneurId}`);

    // Api Produccion
    const res = await fetch(`https://virtualcase-backend.onrender.com/items-manager/social_links/?entrepreneur_id=${entrepreneurId}`);

      const links = await res.json();

      const container = document.getElementById("modalSocialLinks");
      container.innerHTML = "";

      const platformIcons = {
        facebook: "fa-facebook-f",
        twitter: "fa-twitter",
        instagram: "fa-instagram",
        youtube: "fa-youtube",
        linkedin: "fa-linkedin-in",
        tiktok: "fa-tiktok",
        whatsapp: "fa-whatsapp"
      };

      links.forEach((link) => {
        const platform = link.platform.toLowerCase();
        const icon = platformIcons[platform] || "fa-globe";

        const a = document.createElement("a");
        a.href = link.url;
        a.target = "_blank";
        a.className = "hover:opacity-75 text-xl";
        a.innerHTML = `<i class="fa-brands ${icon}"></i>`;
        container.appendChild(a);
      });
    } catch(e) {
      console.error("Error", e);
    }

    document.getElementById("modal").classList.remove("hidden");
  }

  function closeModal() {
    document.getElementById("modal").classList.add("hidden");
  }

  window.addEventListener("DOMContentLoaded", () => {
    const buttons = document.querySelectorAll(".open-modal-btn");

    buttons.forEach((btn) => {
      btn.addEventListener("click", () => {
        openModal(
          btn.dataset.title,
          btn.dataset.description,
          btn.dataset.categories,
          btn.dataset.logo_path,
          btn.dataset.entrepreneur,
          btn.dataset.entrepreneurId,
          btn.dataset.email,
          btn.dataset.phone
        );
      });
    });
  });
</script>

